body {
    background-color: #fff7f7;
    font-family: 'Cabin', sans-serif;
    background-image: url("../images/taric.png");
    background-repeat: no-repeat;
    background-size: 500px;
    background-position: left -14% bottom -30%;
}

h1 {
    font-family: 'Merriweather', serif;
    padding: 4em;
    text-align: center;
    color: #fff7f7;
    margin: 0;
}

h3,
li p {
    color: #fff7f7;
}

header {
    max-height: 100%;
    background-color: #241494;
}

section {
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    display: inline-block;
    margin: 1em 3em;
    background-color: #241494;
    border-radius: 10px;
    padding: 1em;
    height: 400px;
    width: 300px;
}

.taric {
    background-image: url("../images/taric2.png");
    background-size: 500px;
    background-position: right -17% bottom;
    background-repeat: no-repeat;
}

.clearfix::after {
    content: "";
    clear: both;
    display: block;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

div {
    padding: 1em 5em;
    display: flex;
    justify-content: center;
}

.orange-btn {
    text-decoration: none;
    color: #fff7f7;
    background-image: linear-gradient(to right, #ff24e4, #fe0259);
    padding: 0.5em 1em;
    border-radius: 10px;
    margin: 1em 0;
}

.rainbow-btn {
    text-decoration: none;
    color: white;
    padding: 0.5em 1em;
    background-image: url("../images/rainbow-bg.svg");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
}

.allRandom {
    margin-bottom: 2em;
}

#role {
    padding: 6em 0;
    text-transform: uppercase;
}

#champ {
    padding: 6em 0 10.5em 0;
    text-transform: uppercase;
}

@media (max-width: 1000px) {
    .taric {
        background-image: none;
    }
    li {
        margin: 1em;
    }
    body {
        background-position: left -25% bottom -52%;
    }
}

@media (max-width: 905px) {
    div {
        display: block;
        padding: 0;
    }
    .float-left {
        float: none;
    }
    .float-right {
        float: none;
    }
}

@media (max-width: 720px) {
    body {
        background-position: left -44% bottom -29%;
    }
}

@media (max-width: 400px) {
    h1 {
        padding: 1em;
    }
    body {
        background-position: right -50% bottom -49%;
    }
    li {
        height: 280px;
    }
    #role {
        padding: 2em 0;
    }
    #champ {
        padding: 4em;
    }
}