h1 {
    font-family: 'Merriweather', serif;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    padding: 4em;
    text-align: center;
    width: 330px;
    color: white;
    max-width: 100%;
}

h2,
h3,
p,
a,
select,
option {
    font-family: 'Cabin', sans-serif;
}

li p {
    color: white;
}

h3 {
    color: white;
}

header {
    max-height: 100%;
    background-image: url("../images/blue-bg.svg");
    background-size: cover;
    background-repeat: no-repeat;
}

section {
    text-align: center;
    margin: 1em;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    display: inline-block;
    margin: 1em 3em;
    background-image: url("../images/blue-bg.svg");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
    padding: 1em;
    height: 400px;
    width: 300px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: block;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

div {
    padding: 1em 5em;
    display: flex;
    justify-content: center;
}

.orange-btn {
    text-decoration: none;
    color: white;
    padding: 0.5em 1em;
    background-image: url("../images/orange-bg.svg");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    margin: 1em 0;
}

.rainbow-btn {
    text-decoration: none;
    color: white;
    padding: 0.5em 1em;
    background-image: url("../images/rainbow-bg.svg");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
}

#role {
    padding: 6em 0;
    text-transform: uppercase;
}

#champ {
    padding: 6em 0 10.5em 0;
    text-transform: uppercase;
}